body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 20px;
    text-align: center;
  }
  
  .search-section {
    margin-bottom: 20px;
  }
  
  #locationInput {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #searchButton:hover {
    background-color: #0056b3;
  }
  
  #map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
  
  #cafeList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  #cafeList li {
    margin: 10px 0;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  #cafeList li strong {
    font-size: 16px;
    color: #333;
  }
  
  
  #currentLocationButton {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  #currentLocationButton:hover {
    background-color: #218838;
  }